@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: #fade6d; */
}

body {
  background-color: black;
  font-family: "Montserrat", "Inter", sans-serif;
}

@layer utilities {
  .max-width {
    @apply max-w-[90rem] mx-auto px-[1.2rem] lg:px-[3.615rem];
  }

  .no-focus {
    @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }

  .dist-table-style {
    @apply p-[0.6rem] xs:py-[0.725rem] xs:p-[1rem];
  }

  .padding-top {
    @apply pt-[2rem] md:pt-[3.5rem];
  }
  .padding-bottom {
    @apply pt-[2rem] md:pt-[3.5rem];
  }
  .feature-btn {
    @apply btn-shadow flex justify-center rounded-[4.375rem] bg-light-900 px-4 text-[#1E3A4D] max-xs:py-1 max-xs:text-[0.7rem] md:h-[3.25rem] md:w-[16.25rem];
  }

  .feature-btn-mobile {
    @apply btn-shadow flex justify-center rounded-[4.375rem] bg-light-900 text-[#1E3A4D] h-[3.25rem] w-[16.25rem];
  }
}

@layer utilities {
  .btn-shadow {
    box-shadow:
      0px 3px 6px 0px rgba(0, 0, 0, 0.23),
      0px 3px 6px -4px rgba(0, 0, 0, 0.16);
  }

  .contributor-gradient {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }
}
