@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: #b5f4d5; */
}

body {
  font-family: "Montserrat", "Inter", sans-serif;
}

@layer utilities {
  .max-width {
    @apply max-w-[90rem] mx-auto px-[1.2rem] lg:px-[3.615rem];
  }

  .top-padding {
    @apply pt-[4.0625rem];
  }

  .no-focus {
    @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }

  .dist-table-style {
    @apply p-[0.6rem] xs:py-[0.725rem] xs:p-[1rem];
  }

  .padding-top {
    @apply pt-[2rem] md:pt-[3.5rem];
  }
  .padding-bottom {
    @apply pb-[2rem] md:pb-[3.5rem];
  }
  .feature-btn {
    @apply btn-shadow flex justify-center rounded-[4.375rem] bg-light-900 px-4 text-[#1E3A4D] max-xs:py-1 max-xs:text-[0.7rem] md:h-[3.25rem] md:w-[16.25rem];
  }

  .feature-btn-mobile {
    @apply btn-shadow flex justify-center rounded-[4.375rem] bg-light-900 text-[#1E3A4D] h-[3.25rem] w-[16.25rem];
  }

  .numbers-card {
    @apply flex flex-col items-start justify-center gap-[2.31rem] rounded-[12px] bg-[#004540] py-[1.5rem] pl-[2.5rem] pr-[5rem] text-light-900 xs:pl-[3.5rem] xs:pr-[8.88rem];
  }

  .numbers-card-number {
    @apply font-fraunces text-[3rem] leading-[1.2rem] xs:text-[5rem] xs:leading-[3.5rem];
  }

  .contactboard-card {
    @apply flex max-w-[33.31rem] flex-col gap-[1.148rem] rounded-xl bg-[#1F1F1F] px-[2.039rem] pb-[3.575rem] pt-[2.575rem];
  }
}

@layer utilities {
  .btn-shadow {
    box-shadow:
      0px 3px 6px 0px rgba(0, 0, 0, 0.23),
      0px 3px 6px -4px rgba(0, 0, 0, 0.16);
  }

  .contributor-gradient {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }

  .mapouter {
    position: relative;
    text-align: right;
    height: 400px;
    width: 100%;
  }

  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 400px;
    width: 100%;
    border: 3px solid black;
    border-radius: 30px;
  }
}

@layer components {
  .primary-btn-medium {
    @apply h-[2.1rem] rounded-[4px] bg-primary-500 font-fraunces text-light-900;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  /* background: #888; */
  border-radius: 50px;
  background: #ffffff;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  /* background: #555; */
  background: #ffffff;
}
