/* styles.css */
.DialogOverlay {
  background: rgba(0 0 0 / 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  overflow-y: auto;
  height: 100vh;
}

.DialogContent {
  max-height: 37.5rem;
  overflow-y: auto;
}

.DialogContent::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.DialogContent::-webkit-scrollbar-track {
  background: #ffffff;
}

.DialogContent::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
  /* background: #ffffff; */
}

.DialogContent::-webkit-scrollbar-thumb:hover {
  /* background: #555; */
  background: #ffffff;
}
